:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* links */

a {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 750px) {
  a {
    font-size: 1.5rem;
  }
}

/* Icons */

.icon {
  width: 17px;
  height: 17px;
  fill: var(--color-primary);
}

/* buttons */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 2rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.btn--signin {
  background: var(--color-primary);
  color: #fff;
}

.btn--signin:hover {
  background: #3a8ffd;
}

.btn--contactus {
  background: var(--color-body);
  color: black;
}

.btn--search {
  padding: 5px;
  background: var(--color-secondary);
  color: #fff;
}

.btn--contactus:hover {
  background: #00c8eb;
}

@media screen and (min-width: 750px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */

#input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
  width: 200px;
  height: 34px;
}

@media screen and (min-width: 750px) {
  #input {
    font-size: 1.5rem;
    width: 270px;
    height: 30px;
  }
}
