:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #303545;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
  color: var(--color-body);
  background-color: #f3f3f3;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3.3rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* links */

a {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  a {
    font-size: 1.5rem;
  }
}

/* Icons */

.icon {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon__search {
  width: 17px;
  height: 17px;
  fill: #000;
}

/* buttons */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.btn--signin {
  background: var(--color-primary);
  color: #000;
}

.btn--signin:hover {
  background: #3a8ffd;
}

.btn--contactus {
  background: var(--color-secondary);
  color: #000;
}

.btn--contactus:hover {
  background: #00c8eb;
}

.btn--search {
  padding: 5px;
  background: var(--color-secondary);
  color: #000;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */

#input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  #input {
    font-size: 1.5rem;
    width: 270px;
    height: 30px;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px lightgrey;
  overflow: hidden;
  background-color: #f3f3f3;
  padding: 3rem;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* home and about images*/

.home__image,
.videos {
  width: 100%;
}

.home__image1,
.about__image {
  height: 30rem;
}

.maincontent,
.maincontent2 {
  margin-left: 3rem;
}

@media screen and (min-width: 775px) {
  .maincontainer {
    position: relative;
  }

  .maincontent {
    position: absolute;
    width: 38%;
    left: 14rem;
    top: 5rem;
    left: 3rem;
  }

  .maincontent2 {
    position: absolute;
    top: 5rem;
    left: 3rem;
    right: 3rem;
  }

  .home__image1 {
    height: 43rem;
  }

  .mainparagraph {
    color: #000;
    font-weight: bold;
  }
}

@media screen and (min-width: 775px) {
  .about__image {
    height: 74rem;
    opacity: 0.1;
  }
}

/* Collapsibles */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Navigation Bar */

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
  position: sticky;
  top: o;
}

.nav__list2,
.search__area,
.dot {
  display: none;
}

.dot {
  color: #fff;
  display: none;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  transition: color 0.3s;
  list-style: none;
}

.nav__item > a {
  color: #d2d0db;
}

.nav__header {
  margin: 0;
  color: #d2d0db;
  padding-top: 0;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

#input {
  margin-top: 1.1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 780px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__list2,
  .search__area {
    display: flex;
  }
  .nav__item {
    border: 0;
  }
  .sticky__mobile {
    position: sticky;
    top: 0;
  }
}

/* block */

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

/* footer */

.footer {
  padding-top: 1rem;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
}

.footer__brand {
  margin-top: 5rem;
  order: 2;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

.footer a {
  color: #777;
  transition: color 0.3s;
  font-size: 1.6rem;
}

.footer a:hover {
  color: #fff;
}

.footer__section .list {
  margin: 0;
}

.list {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.footer__list {
  margin-top: 0;
}
.p__number {
  margin: 0;
  font-size: 1.8rem;
}

.email {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.about {
  margin-top: 0;
  padding: 0;
}

.social__media {
  font-size: 1.7rem;
}

.p__number,
.social__media,
.email {
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(3, 1fr);
  }
  .social__media__section {
    order: -1;
  }
  .contact__us {
    order: 1;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__brand {
    margin-top: 1rem;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
  .social__media {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 285px) {
  .email {
    font-size: 1.5rem;
  }
}

/* study tips */

.study__tips {
  text-align: center;
}

.tables {
  margin: auto;
  padding: 1.5rem;
}

.table__container {
  margin: 1rem;
}

.table-container,
.table-row__head--title,
.table-row__data {
  margin: auto;
  border: 1px solid #000;
  padding: 1.5rem;
  border-collapse: collapse;
}

/* TODO: better to implement the table from youtube my bro is somewhere else */

/* course materials */

.choose {
  margin-bottom: 2rem;
  text-align: center;
}

/* TODO: change the color of the input text*/

/* about us */

.about__heading {
  text-align: center;
}

.about__col {
  padding: 1rem;
}

/* contact us */

.contact__main {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
}

.contact__body {
  background-image: url(../images/contactfinal.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button__container {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
}

.about__label {
  display: none;
}

.about__message {
  width: 30rem;
  height: 17rem;
}

.about__input {
  margin-bottom: 2rem;
  height: 4rem;
  width: 30rem;
}

.signin__input {
  height: 4rem;
  width: 25rem;
}

.about__left {
  margin: auto;
}

.about__right {
  margin: auto;
}

.submit__button {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .about__left {
    position: absolute;
    right: 50%;
    padding: 1rem;
    margin-top: 0.5rem;
  }
  .about__right {
    position: absolute;
    left: 50%;
    padding: 1rem;
  }

  .about__total {
    width: 100%;
    height: 33rem;
    margin-top: 5rem;
  }
}

/* Sign up */

.signup__container {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.signup__heading {
  margin-right: 10rem;
}

.signup__text {
  padding-left: 1rem;
}

.log__in {
  color: rgb(46, 40, 29);
}

.log__in:hover {
  color: rgb(93, 82, 60);
}

/* tutorials */

@media screen and (min-width: 1050px) {
  .grid--1x2t {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contactus__btn {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.about__text {
  margin-left: 1rem;
  color: #000;
  font-weight: bold;
}

.maincontainer {
  background-image: image(study__tips3);
}

.view__link {
  color: #000;
}

.view__link:hover {
  color: rgb(45, 44, 44);
}

.password_error {
  display: none;
}

#error {
  color: red;
}
